.welcome-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  justify-content: center;
  .welcome__text {

    vertical-align: middle;

    font-size: 145px;

    line-height: 1.55;
    font-weight: 300;
    letter-spacing: 20px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }
}

#welcome {
  margin: 0
}