.picture-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  &.horizontal {
    flex-direction: column;
    .picture__title {
      writing-mode: initial;
    }
  }


  .picture__img {
    height: auto;
  }

  .picture__description {
    display: flex;
    flex-direction: column;
  }
  .picture__title {
    writing-mode: vertical-rl;
  }
}