@font-face {
  font-family: 'PT Sans';  /* ВСЕГДА одно и то же имя! */
  src: url('../../assets/fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
