/* PT Sans */
.pt-light { font-family: 'PT Sans', sans-serif; font-weight: 300; }
.pt-regular { font-family: 'PT Sans', sans-serif; font-weight: 400; }
.pt-bold { font-family: 'PT Sans', sans-serif; font-weight: 700; }
.pt-light-italic { font-family: 'PT Sans', sans-serif; font-style: italic; font-weight: 300; }
.pt-italic { font-family: 'PT Sans', sans-serif; font-style: italic; font-weight: 400; }
.pt-bold-italic { font-family: 'PT Sans', sans-serif; font-style: italic; font-weight: 700; }

/* Open Sans */
.open-light { font-family: 'Open Sans', sans-serif; font-weight: 300; }
.open-regular { font-family: 'Open Sans', sans-serif; font-weight: 400; }
.open-bold { font-family: 'Open Sans', sans-serif; font-weight: 700; }
.open-light-italic { font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 300; }
.open-italic { font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 400; }
.open-bold-italic { font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 700; }