.as-container {
  height: max-content;
  display: flex;

  .as__cover {
    // Добавляем минимальные размеры, чтобы фон отображался даже без контента
    min-width: 200px;  // или нужную вам минимальную ширину
    min-height: 300px; // или нужную вам минимальную высоту
    height: auto;      // или 100%, в зависимости от нужного поведения
    background-image: url("@/assets/img/face_full.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    flex: 1;
  }

  .as__content {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    padding: 20px;
    justify-content: space-between;

    .as__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}