.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;

  .app-header__nav {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    position: fixed;
  }

  .app-header__tools {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
  }
}

.app-header.fixed {
  position: fixed;
  width: 100%;
  background-color: rgba(247, 244, 244, 0.6);
}

.app-header__nav {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  &.fixed {
    animation: slideDown 0.3s ease-out;
    .nav__item {
      font-size: initial;
    }
  }

  &:not(.fixed) {
    animation: slideUp 0.3s ease-out;
  }

  .nav__item {
    font-size: 20px;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}